@model IEnumerable<QuerySelector.Models.Select_Table_Result>

@{
    ViewBag.Title = "MyProcedure";
}

<h2>MyProcedure</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COLUMN_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA_TYPE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COLUMN_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA_TYPE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
